*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-clip: padding-box;
    backface-visibility: hidden;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media screen and (max-width: 1200px) {
        font-size: 56.25%;
    }
}

body {
    // max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr-primary: #FF5722;
    --clr-fade-1: #EEE0CA;
    --clr-seconday: #04004D;
    --clr-white: #FFFFFF;
    --clr-light: #FDFDFD;
    --clr-cloud: #F5F5F5;
}