// Media
.media-section {
    width: 100%;
    padding: 2rem 10rem;
    background-color: var(--clr-light);

    @media screen and (max-width: 480px) {
        padding: 2rem;
    }
}

.media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
        
    &__item {
        width: 400px;
        @media screen and (max-width: 480px) {
            margin-bottom: 2rem;
            width: 100%;
        }
    }
}

// Features
.features-section {
    width: 100%;
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6rem 10rem;

    & header {
        margin-bottom: 4rem;
    }
}

.features {
    display: flex;
    align-items: stretch;
    justify-content: center;

    &__item {
        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}