// Media
.media-section {
    width: 100%;
    padding: 2rem 10rem;
    background-color: var(--clr-light);
    display: none;

    @media screen and (max-width: 480px) {
        padding: 2rem;
    }
}

.media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
        
    &__item {
        width: 400px;
        @media screen and (max-width: 480px) {
            margin-bottom: 2rem;
            width: 100%;
        }
    }
}

// Features
.features-section {
    width: 100%;
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6rem 10rem;

    & header {
        margin-bottom: 4rem;
    }
}

.features {
    display: flex;
    align-items: stretch;
    justify-content: center;

    &__item {

        transition: all .3s;

        &:hover {
            background: var(--clr-primary);
            color: var(--clr-white);
            transform: translateY(-3rem);
        }
        
        &:not(:last-of-type) {
            margin-right: 16px;
        }
    }
    @media screen and (max-width: 768px) {


        &__item {
            transition: all .3s;
            
            &--2 {
                transform: translateY(-20px);
                z-index: 3;

                &:hover {
                    transform: translateY(-20px);
                }
            }
            &--1 {
                transform: translateY(20px) translateX(45px);
                z-index: 2;

                &:hover {
                    transform: translateY(20px) translateX(45px);
                    z-index: 4;
                }
            }
            &--3 {
                transform: translateY(20px) translateX(-45px);
                z-index: 2;

                &:hover {
                    z-index: 4;
                    transform: translateY(20px) translateX(-45px);
                }
            }
        }
    }
}

// Course Previews
.course-preview {
    padding: 6rem 14rem;
    display: block;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__right {
        display: flex;
        align-items: baseline;
    }
}